
.header__subtitle {
    width: 388px;
    left: 64px;
    bottom: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    z-index: 8;
    margin: 0px;
  }
  